services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: Ivy_League
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: aadi123
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7

  web:
    build: .
    command: python manage.py migrate && python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgres://postgres:aadi123@db:5432/ivy_db
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis

  worker:
    build: .
    command: celery -A core worker --loglevel=info
    environment:
      - DATABASE_URL=postgres://postgres:aadi123@db:5432/ivy_db
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
      - db

volumes:
  postgres_data: