# Web Framework
django==5.0.2
django-environ==0.11.2

# Database
psycopg2-binary==2.9.9
sqlalchemy==2.0.27

# Scraper & Parsing
playwright==1.42.0
beautifulsoup4==4.12.3
lxml==5.1.0

# Task Queue
celery==5.3.6
redis==5.0.1

# Logging & Utilities
structlog==24.1.0
requests==2.31.0